<div class="container">
    <div class="wrap">
        <div class="text-center pt-[3.75rem] pb-24 large:pt-[4.375rem] large:pb-32">
            <p class="heading">
                {{- 'templates.404.subtext' | t -}}
            </p>
            <h1 class="title">
                {{- 'templates.404.title' | t -}}
            </h1>
            <a href="{{ routes.all_products_collection_url }}" class="button mt-10">
                {{- 'general.continue_shopping' | t -}}
            </a>
        </div>
    </div>
</div>
