<html>
   <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin Caviar Liquid Lift</title>
    <style>
      @media (max-width: 768px) {
        .svg_cation {
          display: none !important;
        }
      }
      /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left:30px;
  margin-bottom:30px;
  border-radius: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 90%;
  margin-left:30px;
  margin-bottom:30px;
  border-radius: 20px;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #000;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
    </style>
  </head>
      <div  style="margin: 10px;"></div>
<button class="accordion">Caution/Warning</button>
<div class="panel">
  <p>{{- product.metafields.custom.product_caution | metafield_tag }}</p>
</div>
     
     
</html>

   
  
{% schema %}
  {
    "name": "product_caution",
    "settings": [],
    "presets": [
      {
        "name":"product_caution",
      }
    ]
  }
{% endschema %}

<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
