<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
.banner-section {
    width: 100%;
}

.img-div {
    width: 100%;
    position: relative;
}

.banner-section-item .desktop-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-section-item .mobile-image {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    border-radius: 50px;
    height: 30px !important;
    width: 30px !important;
    background-color: rgba(0, 0, 0, 0.7);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1rem !important;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.swiper-pagination-bullet-active {
    background-color: #5D5D5D !important;
}

.banner-section-item .banner-section-item-content {
    padding: 40px 60px;
    max-width: 40%;
    position: absolute;
    top: 40%;
    left: 6%;
    transform: translateY(-50%);
}

.section-label {
    font-family: var(--gotham);
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.banner-section-item .banner-section-item-content h5 {
    font-family: var(--skeena);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
}

.banner-section-item .banner-section-item-content h1 {
    font-family: var(--skeena);
    font-weight: 600;
    font-size: 3rem;
}

.banner-section-item .banner-section-item-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: var(--skeena);
    font-weight: 400;
    margin-bottom: 20px;
}
.btn-outline-light {
    padding: 10px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: transparent;
    font-family: var(--gotham);
    font-weight: 500;
    font-size: 0.9rem;
    min-width: 140px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-align: center;

}

.btn-dark {
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    font-family: var(--gotham);
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    white-space: nowrap;
}

h1 {
    font-family: var(--skeena);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
}

p.gotham {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: var(--gotham);
    margin-bottom: 20px;
}

h5.skeena {
    font-family: var(--skeena);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}
</style>            
<div class="swiper banner-section">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-section-item">
                            <div class="img-div">
                                <img src="https://cdn.shopify.com/s/files/1/0676/8872/6667/files/banner-1.png" alt="" class="desktop-image">
                                <img src="./assets/imgs/mobile.jpeg" alt="" class="mobile-image">
                            </div>
                            <div class="banner-section-item-content">
                                <span class="section-label">Introducing</span>
                                <h5>P-3 Ultimate Hydration Serum Concentrate</h5>
                                <h1>THE POWER OF 3</h1>
                                <p class="mb-0">Peptides | Stem Cells | Exosomes</p>
                                <p>
                                    Three advanced technologies. One intelligent formula
                                    +248.5% increase in hydration in just 15 minutes**
                                    Results you can measure.
                                    Hydration you can feel.
                                </p>

                                <button class="btn-outline-light">Shop Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-section-item">
                            <div class="img-div">
                                <img src="https://cdn.shopify.com/s/files/1/0676/8872/6667/files/banner-1.png" alt="" class="desktop-image">
                                <img src="./assets/imgs/mobile.jpeg" alt="" class="mobile-image">
                            </div>
                            <div class="banner-section-item-content">
                                <span class="section-label">Introducing</span>
                                <h5>P-3 Ultimate Hydration Serum Concentrate</h5>
                                <h1>THE POWER OF 3</h1>
                                <p class="mb-0">Peptides | Stem Cells | Exosomes</p>
                                <p>
                                    Three advanced technologies. One intelligent formula
                                    +248.5% increase in hydration in just 15 minutes**
                                    Results you can measure.
                                    Hydration you can feel.
                                </p>

                                <button class="btn-outline-light">Shop Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-section-item">
                            <div class="img-div">
                                <img src="https://cdn.shopify.com/s/files/1/0676/8872/6667/files/banner-1.png" alt="" class="desktop-image">
                                <img src="./assets/imgs/mobile.jpeg" alt="" class="mobile-image">
                            </div>
                            <div class="banner-section-item-content">
                                <span class="section-label">Introducing</span>
                                <h5>P-3 Ultimate Hydration Serum Concentrate</h5>
                                <h1>THE POWER OF 3</h1>
                                <p class="mb-0">Peptides | Stem Cells | Exosomes</p>
                                <p>
                                    Three advanced technologies. One intelligent formula
                                    +248.5% increase in hydration in just 15 minutes**
                                    Results you can measure.
                                    Hydration you can feel.
                                </p>

                                <button class="btn-outline-light">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        const swiper2 = new Swiper('.swipe2', {
            slidesPerView: 3,
            spaceBetween: 20,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5500,
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                    spaceBetween: 20
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                1024: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                1200: {
                    slidesPerView: 3,
                    spaceBetween: 20
                }
            }
        });
    </script>


{% schema %}
{
  "name": "slider-new-home-page",
  "settings": [

   {
     "type": "image_picker",
     "id": "second_slide_image",
     "label": "Second Slide Image"
   },
   {
     "type": "image_picker",
     "id": "third_slide_image",
     "label": "Third Slide Image"
  }
  ],
  "presets": [{
    "name": "slider-new-home-page"
  }]
}
{% endschema %}